<html lang= "en" ng-app="eventsApp">
<head>
	<meta charset="utf-8">
	<title>EventRegistration</title>
	<link rel="stylesheet" href="/Users/aldenaik/DevMtn/angular_practice/app/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/Users/aldenaik/DevMtn/angular_practice/app/css/app.css"/>

</head>
<body>
<div class="container">
	<div class ="navbar">
		<div class ="navbar-inner">
			<ul class="nav">
				<li><a href= "file:///Users/aldenaik/DevMtn/angular_practice/app/NewEvent.html">Create Event</a></li>
				<li><a href= "file:///Users/aldenaik/DevMtn/angular_practice/app/EditProfile.html">Edit Profile</a></li>

			</ul>
		</div>
	</div>
	<div ng-controller="EventController" style="padding-left:20px; padding-right:20px">
		<img ng-src="{{event.imageUrl}}" alt "{{event.name}}" />
		<div class ="row">
			<div class="spann11">
				<h2 ng-style="myStyle" ng-bind-template= "{{event.name | uppercase}} {{event.date}}"> </h2>
			</div>
		</div>

		<div class ="row">
			<div class="spann3">
				<div><strong>Date:</strong> {{event.date}}</div>
				<div><strong>Time:</strong> {{event.time}}</div>

			</div>
			<div class= "span4">
				<address>
					<strong>Address:</strong><br/>
							{{event.location.address}}	<br/>
							{{event.location.city}}, {{event.location.province}} 
				</address>
			</div>
		</div>
			<hr />

			<h3>Sessions</h3>
			<ul class = "thumbnails">
				<li ng-repeat="session in event.sessions| orderBy:sortorder">
					<div class="row session">
						<div class = "span0 well votingWidget">
							<div class ="votingButton" ng-click="upVoteSession(session)">
								<i class = "icon-chevron-up icone-white"></i>
							</div>
							<div class = "badge badge-inverse">
								<div>{{session.upVoteCount}}</div>
							</div>
							<div class = "votingButton"ng-click="downVoteSession(session)">
								<i class = "icon-chevron-down" sty></i>
							</div>
						</div>
						<div class="well span9">
							<h4 class="well-title">{{session.name}}</h4>
							<h6 style="margin-top:-10px">{{session.creator}}</h6>
							<span> Duration: {{session.duration}}</span><br/>
							<span> Level: {{session.level}}</span>
							<p>{{session.abstract}}</p>

						</div>
					</div>
				</li>
			</ul>
	</div>
</div>

<script src="/Users/aldenaik/DevMtn/angular_practice/app/lib/jquery-2.1.0.min.js"></script>
<script src="/Users/aldenaik/DevMtn/angular_practice/app/lib/underscore_1.5.2.js"></script>
<script src="/Users/aldenaik/DevMtn/angular_practice/app/lib/bootstrap.min.js"></script>
<script src="/Users/aldenaik/DevMtn/angular_practice/app/lib/angular/angular.js"></script>
<script src="/Users/aldenaik/DevMtn/angular_practice/app/lib/angular/angular-resource.js"></script>
<script src="/Users/aldenaik/DevMtn/angular_practice/app/lib/angular/angular-sanitize.js"></script>
<script src="/Users/aldenaik/DevMtn/angular_practice/app/js/app.js"></script>
<script src="/Users/aldenaik/DevMtn/angular_practice/app/js/controllers/EventController.js"></script>
<script src="/Users/aldenaik/DevMtn/angular_practice/app/js/services/EventData.js"></script>

</body>
</html>